body { font-family: Arial; text-align: center; background: #f4f4f4; }
.container { margin-top: 30px; }
input { display: block; margin: 10px auto; padding: 10px; width: 250px; border-radius:5px; border:1px solid #ccc;}
button { padding: 10px 20px; background: #0066ff; color: white; border: none; cursor: pointer; border-radius: 5px; transition: 0.3s;}
button:hover { background:#0040aa; }
.logo { width: 120px; margin-top: 20px; }
.order-card { background: white; margin: 10px auto; padding: 15px; border-radius: 8px; max-width: 400px; text-align: left; box-shadow:0 2px 6px rgba(0,0,0,0.2);}
.payment-box { max-width: 400px; margin: 30px auto; background: white; padding: 30px; border-radius: 10px; text-align: center; box-shadow:0 2px 6px rgba(0,0,0,0.2);}
.pay-btn { width: 100%; padding: 15px; margin: 10px 0; border: none; cursor: pointer; border-radius: 8px; display:flex; align-items:center; justify-content:center; font-size:16px; transition:0.3s;}
.pay-logo { width:30px; height:30px; margin-right:10px;}
.kaspi { background: #e60012; color: white; }
.kaspi:hover { background:#a3000f; }
.halyk { background: #00843d; color: white; }
.halyk:hover { background:#005f27; }
#map { width: 100%; height: 300px; margin-top: 20px; border: 2px solid #0066ff; border-radius: 8px; }
